<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>广告列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="__PUBLIC__/backend/">
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js"></script>
<script src="js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>广告列表</em></span>
    <span class="modular fr"><a href="{:U('Five/advertising')}" class="pt-link-btn">+添加广告</a></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
       <th>名称</th>
       <th>轮播图</th>
       <th>是否显示</th>
       <th>操作</th>
   </tr>
<foreach name="path" item="vo" >
    <tr>
        <td>
            {$vo.extension_keywords}
        </td>
        <td>
            <img src="__ROOT__{$vo.extension_img}" alt="" width="200"  height="100" >
        </td>
        <td  ids='{$vo.goods_id}' >
            <if condition="$vo['is_show'] eq 0 ">
                <img src="__ROOT__/Public/backend/images/no.gif"  value='1' class="isshow" >
                <else />
                <img src="__ROOT__/Public/backend/images/yes.gif"  value='0' class="isshow" >
            </if>
        </td>
        <td class="center">
            <a href="advertising.html" title="编辑"><img src="images/icon_edit.gif"/></a>
            <a title="删除"><img src="images/icon_drop.gif"/></a>
        </td>
    </tr>
</foreach>
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
    <div class="BatchOperation fl">
     <input type="checkbox" id="del"/>
     <label for="del" class="btnStyle middle">全选</label>
     <input type="button" value="批量删除" class="btnStyle"/>
    </div>
    <!-- turn page -->
    <div class="turnPage center fr">
     <a>第一页</a>
     <a>1</a>
     <a>最后一页</a>
    </div>
  </div>
 </div>
</body>
<script>
$('.isshow').on('click',function(){
    var is_show = $(this).attr('value');
    var goods  = $(this).parent().attr('ids');
    var _this  = $(this);

    $.ajax({
      url:"{:U('Five/ShowUp')}",
      dataType:'json',type:'GET',
      data:{is_show:is_show,id:goods},
      success:function(res){
        if (res.status == 'error') {
          alert(res.message)
          window.location.href="{:U('Five/advertising_list')}"
        } else {
          if (is_show == 1) {
            _this.attr('src','__PUBLIC__/backend/images/yes.gif')
          } else {
            _this.attr('src','__PUBLIC__/backend/images/no.gif')
          };
        };
      }
    })
  })
</script>
</html>