<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>广告位</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <base href="__PUBLIC__/backend/">
 <link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="settings"></i><em>轮播图</em></span>
  </div>
  <form action="{:U('Five/advertising')}"  enctype="multipart/form-data" method="post" >
  <table class="noborder">
   <tr>
    <td style="text-align:right;"><b>名称</b></td>
    <td><input type="text"  name="extension_keywords" id="extension_keywords" /></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>上传图片：</b></td>
    <td><input type="file"  name="extension_img" id="extension_img" /></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>是否显示：</b></td>
    <td>
     <input type="radio" name="is_show" value="1">是<input type="radio" name="is_show" value="0" >否
    </td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="保存" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
 </div>
</body>
</html>