<!DOCTYPE html>
<html>
<head>
	<base href="__PUBLIC__/">
</head>
	<div class="buy">
		<p class="crumb">
			<a href="{:U('Goods/product')}">首页</a>>
			<a>{$data.brand_name}</a>>{$data.goods_name} 水杯
		</p>
		<div class="buy_info">
			<div class="buy_img">
				<div class="page">
					<div class="middle_img">
						<img src="{$data.goods_cover}" style="display: block;">

						<?php foreach($Img as $val){ ?>
							<img src="{$val.detailed_path}">
						<?php } ?>
					</div>
					<div class="small_img">
						<img src="{$data.goods_cover}" class="active">

						<?php foreach($Img as $val){ ?>
							<img src="{$val.detailed_path}">
						<?php } ?>
					</div>
				</div>
			</div>
			<div class="buy_right">
				<p class="p1">本周特推|{$data.goods_name}</p>
				<p class="p2">
					<input type="hidden" class="UnitPrice" disabled value="{$data.goods_price}">
					<font style="font-size: 23px;" >售价：￥<?php echo $data['goods_price'] ?></font>
					<span style="text-decoration:line-through">原价 : ￥<?php echo $data['goods_original'] ?></span>
				</p>
				<!--规格属性-->
				<p class="p4 buy_p4">选择颜色：
					<span class="active">红色</span>
					<span >黑色</span>
					<span >纯白</span>
				</p>

				<p class="p3">选择数量：</p>
				<p class="p5">
					<span class="num" id='min'>-</span>
					<input class="number" type="text" value="1" disabled />
					<span class="num" id='max'>+</span>
				</p>
				<span class='SumPrice_info'>总价: ￥{$data.goods_price}</span>
				<p class="p6">
					<img src="img/like1.png" class="like"/>
					<span>999人喜欢</span>
				</p>
				<p class="p7">
					<?php if (!isset($_COOKIE['user_info'])) { ?>
						<a class='login_btn' href="javascript:void(0);">加入购物车</a>
                        <a class='login_btn' href="javascript:void(0);">立即购买</a>
					<?php } else { ?>
						<a class='btn-buy'>加入购物车</a>
                        <a href="{:U('User/fill_order')}">立即购买</a>
					<?php } ?>
					
					
				</p>
			</div>
		</div>
		<img src="img/info.jpg" class="info_img" />
	</div>

	<div class="big_img">
		<img src="img/close2.png" class="close" />
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<?php foreach($Img as $val){ ?>
					<div class="swiper-slide">
						<span>
							<img src="{$val.detailed_path}" width="700px;" height="500px;">
						</span>
					</div>
				<?php } ?>
			</div>
		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

	<div class="footer">
		<div class="footer_con">
			<p>享有 | enjoy</p>
			<img src="img/footer.png" />
		</div>
		<div class="footer_con2">
			<p>© 2015 dingdongyouli.com All rights reserved.</p>
			<img src="img/footer_p2.jpg" />
		</div>
	</div>
</body>
<script type="text/javascript">
	//点击查看大图 左右切换
    var swiper = new Swiper(".swiper-container", {
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoHeight: true, //enable auto height
    });
</script>
<script>
	//大图切换 路径 
    $(function() {
        var bool=true;
        $(".like").click(function(){
            if(bool){
                $(this).attr("src","img/like2.png");
                bool=false;
            }else{
                $(this).attr("src","img/like1.png");
                bool=true;
            }
        });
        $(".meau").on("click", function(e) {
            $(".meau_box").slideToggle();
            $(document).one("click", function() {
                $(".meau_box").slideUp();
            });
            e.stopPropagation();
        });
        $(".meau").on("click", function(e) {
            e.stopPropagation();
        });
        $(".small_img").children("img").click(function() {
            $(".small_img").children("img").removeClass("active");
            $(this).addClass("active");
            $(".middle_img").children("img").hide();
            $(".middle_img").children("img").eq($(".small_img").children("img").index(this)).fadeIn();
        });

        $(".buy_p3 span").click(function() {
            $(".buy_p3 span").removeClass("active");
            $(this).addClass("active");
        });
        $(".buy_p4 span").click(function() {
            $(".buy_p4 span").removeClass("active");
            $(this).addClass("active");
        });

        $(".big_img").hide();
        $(".middle_img").children("img").click(function() {
            $(".big_img").css("display", "block");
        });
        $(".close").click(function() {
            $(".big_img").fadeOut();
        });
    });
</script>
<script>
	//规格 选中
    $(function(){
        $(".sys_item_spec .sys_item_specpara").each(function(){
            var i=$(this);
            var p=i.find("ul>li");
            p.click(function(){
                if(!!$(this).hasClass("selected")){
                    $(this).removeClass("selected");
                    i.removeAttr("data-attrval");
                }else{
                    $(this).addClass("selected").siblings("li").removeClass("selected");
                    i.attr("data-attrval",$(this).attr("data-aid"))
                }
            })
        })
    })
</script>
<script>
	//点击 商品数量增加,减少
    var number = $(".number");
    var UnitPrice = $(".UnitPrice").val();
    
    function updateMoney(){
        var numbers  = number.val();
        var sumprice = UnitPrice*numbers;   //输入框中的份额数与每份金额数相乘得到总金额

        $('.SumPrice_info').html("共[ "+numbers+" ]件,总价: ￥"+sumprice)
    }

    $(function(){
        $("#max").click(function() {
            number.val(parseInt(number.val()) + 1); //点击加号输入框数值加1
            if (number.val()>=3) number.val(3); 
            updateMoney();  //显示总金额
        });
        $("#min").click(function(){
            number.val(parseInt(number.val())-1); //点击减号输入框数值减1
            if(number.val()<=0){
                number.val(parseInt(number.val())+1); //最小值为1
            }
            updateMoney();
        });
    });
</script>
<script>
	//加入购物车的点击效果.....
    $('.btn-buy').bind('click',function(){
        var img = $(".middle_img").find('img');
        var flyElm = img.clone().css('opacity', 0.75);
        $('body').append(flyElm);
        flyElm.css({
            'z-index': 9000,
            'display': 'block',
            'position': 'absolute',
            'top': img.offset().top +'px',
            'left': img.offset().left +'px',
            'width': img.width() +'px',
            'height': img.height() +'px'
        });
        flyElm.animate({
            top: $('.head-shopcart').offset().top,
            left: $('.head-shopcart').offset().left,
            width: 20,
            height: 32
        }, 'slow', function() {
            flyElm.remove();
        });
    });
</script>
</html>