<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>产品品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base href="__PUBLIC__/backend/"/>
    <link href="style/adminStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i></i><em>产品品牌</em></span>
        <span class="modular fr"><a href="{:U('Brand/add_brand')}" class="pt-link-btn">+添加新品牌</a></span>
    </div>

    <table class="list-style">
        <tr>
            <th>品牌名称</th>
            <th>品牌LOGO</th>
            <th>操作</th>
        </tr>
        <foreach name="list" item="v">
            <tr>
                <td>
                    <input type="checkbox" name="checkbox" value="{$v.brand_id}"/>
                    <span><a href="{$v.brand_url}">{$v.brand_name}</a></span>
                </td>
                <td>
                    <span><img src="{$v.brand_logo}" alt="" width="80px"/></span>
                </td>

                <td class="center"><a href="{:U('Brand/del')}?brand_id={$v.brand_id}&p=<?php echo I('get.p');?>"
                                      class="block" title="移除"><img
                        src="images/icon_trash.gif"/></a></td>
            </tr>
        </foreach>

    </table>

    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="checkbox" id="del"/>
            <label for="del" class="btnStyle middle">全选</label>
            <input type="button" value="批量删除" class="btnStyle delete"/>
        </div>
        <!-- turn page -->


        <div class="turnPage center fr">
            {$page}
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script>
    $(document).on('click','.block',function () {
        event.preventDefault()
        var url=$(this).attr('href');
        $.ajax({
            url:url,
            success:function(result){
                if (result){
                    alert('删除成功');
                    location.href = "{:U('Brand/brand_list')}?p=<?php echo I('get.p');?>";
                } else {
                    alert('删除失败');
                    location.href = "{:U('Brand/brand_list')}?p=<?php echo I('get.p');?>";
                }
            }});
    })
    // 全选反选
    $(function () {
        //实现全选反选
        $("#del").on('click', function () {
            $(".list-style input:checkbox").prop("checked", $(this).prop('checked'));
        })
        $(".list-style input:checkbox").on('click', function () {
            //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
            if ($(".list-style input:checkbox").length === $(".list-style input:checked").length) {
                $("#del").prop("checked", true);
            } else {
                $("#del").prop("checked", false);
            }
        })
    })

    // 批删
    $(document).on('click', '.delete', function () {
        //    alert("ds");
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        // 批量选择
        if (confirm("确定要删除所选项目？")) {
            var che = $("input[name='checkbox']:checked");
            var ids = new Array();
            for (var a = 0; a < che.length; a++) {
                ids[a] = che[a].value;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Brand/del')}?p=<?php echo I('get.p');?>",
                data: {'ids': ids},
                success: function (result) {
                    if (result){
                        alert('删除成功');
                        location.href = "{:U('Brand/brand_list')}?p=<?php echo I('get.p');?>";
                    } else {
                        alert('删除失败');
                        location.href = "{:U('Brand/brand_list')}?p=<?php echo I('get.p');?>";
                    }
                }
            });
        }
    })

</script>

</body>
</html>