<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>会员列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <base href="__PUBLIC__/backend/">
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js"></script>
<script src="js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>会员列表</em></span>
    <span class="modular fr"><a href="{:U('Login/add_user')}" class="pt-link-btn">+添加新会员</a></span>
  </div>
  <div class="operate">
   <form>
<!--     <select class="inline-select">
     <option>选择会员等级</option>
     <option>白金会员</option>
     <option>黄金会员</option>
    </select> -->
    <form action="{:U('Login/user_list')}" method="get" >
      <input type="text" class="textBox length-long" value="{$where}" name="where" placeholder="输入会员姓名、邮箱..."/>
      <input type="submit" value="查询" class="tdBtn"/>
    </form>
   </form>
  </div>
  <table class="list-style Interlaced">
   <tr>
     <th>编号</th>
     <th>会员昵称</th>
     <th>邮件地址</th>
     <!-- <th>手机号码</th> -->
     <!-- <th>是否验证</th> -->
     <!-- <th>可用资金</th> -->
     <!-- <th>冻结资金</th> -->
     <th>注册日期</th>
     <th>操作</th>
   </tr>
   <foreach name='user' item='v' >
   <tr>
    <td>
     <input type="checkbox" value="{$v.admin_id}" name="checkbox" />
     <span class="middle">{$v.admin_id}</span>
    </td>
    <td class="center">{$v.admin_name}</td>
    <td class="center">{$v.admin_email}</td>
    <!-- <td class="center"><img src="images/yes.gif"/></td> -->

    <!-- <td class="center">
     <span>
      <i>￥</i>
      <b>300.00</b>
     </span>
    </td> -->
    <td class="center">{$v.start_time}</td>
    <td class="center">
    <if condition="$cid eq $v.admin_id ">
        <a href="{:U('Login/edit_user')}?admin_id={$v.admin_id}" class="inline-block" title="编辑"><img src="images/icon_edit.gif"/></a>
    <else /> 
         <a href="javascript:void(0)" class="inline-block" title="不可编辑"><img src="images/icon_edit.gif" style="border: 2px red solid;" /></a>
    </if>
    
     <!-- <a href="account.html" class="inline-block" title="资金管理"><img src="images/icon_account.gif"/></a> -->
     <a class="inline-block" href="{:U('Login/admin_del')}?admin_id={$v.admin_id}" title="删除"><img src="images/icon_drop.gif"/></a>
    </td>
   </tr>
   </foreach>
   </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl">
	   <input type="checkbox" id="del"/>
	   <label for="del" class="btnStyle middle">全选</label>
     <input type="button" id="delete" value="批量删除" class="btnStyle"/>
	  </div>
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   {$page}
	  </div>
  </div>
 </div>
</body>
<script>
  // 全选反选
    $(function () {
        //实现全选反选
        $("#del").on('click', function () {
            $(".list-style input:checkbox").prop("checked", $(this).prop('checked'));
        })
        $(".list-style input:checkbox").on('click', function () {
            //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
            if ($(".list-style input:checkbox").length === $(".list-style input:checked").length) {
                $("#del").prop("checked", true);
            } else {
                $("#del").prop("checked", false);
            }
        })
    })
     // 批删
    $(document).on('click', '#delete', function () {
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        if (confirm("确定要删除所选项目？")) {
            var che = $("input[name='checkbox']:checked");
            var admin_id = new Array();
            for (var a = 0; a < che.length; a++) {
                admin_id[a] = che[a].value;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Login/admin_del')}",
                data: {'admin_id': admin_id},
                success: function (result) {
                  window.location.reload();
                }
            });
        }
    })
</script>
</html>