<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商品回收站</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="__PUBLIC__/backend/">
    <script src="./js/jquery.js"></script>
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>商品回收站</em></span>
  </div>
  
  <table class="list-style">
   <tr>
    <th>ID编号</th>
    <th>产品</th>
    <th>名称</th>
    <th>操作</th>
   </tr>

      <foreach name='data' item='v'>
          <tr>
              <td>
				<span>
					<input type="checkbox" class="middle children-checkbox" value="{$v.goods_id}" name="checkbox"/>
					<i>{$v.goods_id}</i>
				</span>
              </td>
              <td class="center pic-area">
                  <img src="__ROOT__{$v.goods_cover}" class="thumbnail"/>
              </td>
              <td class="td-name">
                  <span class="ellipsis td-name block">{$v.goods_name}</span>
              </td>
              <td class="center">
                  <a href="{:U('Goods/updata')}?goods_id={$v.goods_id}" title="恢复">恢复</a>
                  <a href="{:U('Goods/del')}?goods_id={$v.goods_id}" title="彻底删除">彻底删除</a>
              </td>
          </tr>

      </foreach>
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl">
	   <input type="checkbox" id="del"/>
	   <label for="del" class="btnStyle middle">全选</label>
	   <input type="button" value="批量彻底删除" class="btnStyle delete"/>
	   <input type="button" value="批量恢复" class="btnStyle updat"/>
	  </div>
	  <!-- turn page -->
	  <div class="turnPage center fr">
        {$page}
	  </div>
  </div>
 </div>
</body>
<script>
    // 全选反选
    $(function () {
        //实现全选反选
        $("#del").on('click', function () {
            $(".list-style input:checkbox").prop("checked", $(this).prop('checked'));
        })
        $(".list-style input:checkbox").on('click', function () {
            //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
            if ($(".list-style input:checkbox").length === $(".list-style input:checked").length) {
                $("#del").prop("checked", true);
            } else {
                $("#del").prop("checked", false);
            }
        })
    })
    // 批删
    $(document).on('click', '.delete', function () {
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        if (confirm("确定要删除所选项目？")) {
            var che = $("input[name='checkbox']:checked");
            var goods_id = new Array();
            for (var a = 0; a < che.length; a++) {
                goods_id[a] = che[a].value;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Goods/del')}",
                data: {'goods_id': goods_id},
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    })
    //批量恢复
    $(document).on('click', '.updat', function () {
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        if (confirm("确定要恢复所选项目？")) {
            var che = $("input[name='checkbox']:checked");
            var goods_id = new Array();
            for (var a = 0; a < che.length; a++) {
                goods_id[a] = che[a].value;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Goods/updata')}",
                data: {'goods_id': goods_id},
                success: function (result) {
                    window.location.reload();
                }
            });
        }
    })
</script>
</html>