<!DOCTYPE html>
<html>
<style type="text/css">
	.min,.add{
		width: 35px;
		height: 30px;
		float: left;
	}
	.join-money{
		width: 40px;
		height: 34px;
		float: left;
		text-align: center;
	}

</style>

<head>
	<meta charset="utf-8" />
	<title>叮咚有礼--购买</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<base href="__PUBLIC__/">
	<link rel="stylesheet" href="css/demo.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/fen.css" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
	<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
</head>


<div class="header2">
	<img src="img/phone_meau.png" class="meau" />
	<img src="img/logo.png" class="logo" />
	<a href="shop_car.html"><i class="iconfont">&#xe600;</i></a>
	<ul class="meau_box">
		<a href="index.html">
			<li>首页</li>
		</a>
		<a href="product.html">
			<li>叮咚一下</li>
		</a>
		<a href="blog.html">
			<li>BLOG</li>
		</a>
		<a href="personal.html">
			<li>个人中心</li>
		</a>
		<a href="message.html">
			<li>留言板</li>
		</a>
		<p style="border-right:1px #fff solid;" class="login_btn">登录</p>
		<a href="register.html">
			<p>注册</p>
		</a>
	</ul>
</div>
<div class="buy">
	<p class="crumb">
		<a>Home</a>>
		<a>All products</a>><?php echo $data['goods_content'] ?></p>
	<div class="buy_info">
		<div class="buy_img">
			<div class="page">
				<div class="middle_img">
					<img src="__ROOT__<?php echo $data['goods_cover'] ?>" style="display: block;">
					<?php foreach($Img as $val){ ?>
					<img src="__ROOT__<?php echo $val['detailed_path'] ?>">
					<?php } ?>
				</div>
				<div class="small_img">
					<img src="__ROOT__<?php echo $data['goods_cover'] ?>" class="active">
					<?php foreach($Img as $val){ ?>
					<img src="__ROOT__<?php echo $val['detailed_path'] ?>">
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="buy_right">
			<p class="p1">本周特推|<?php echo $data['goods_name'] ?></p>
			<p class="p2">订购价：￥
				<font style="font-size: 23px;"><?php echo $data['goods_price'] ?></font>
			</p>


			<!--规格属性-->
			<div class="sys_item_spec">
				<dl class="clearfix iteminfo_parameter sys_item_specpara buy_p3" data-sid="1" >
					<dt>规格：</dt>
					<dd>
						<ul class="sys_spec_text">
							<li><a href="javascript:void(0)" title="塑料">塑料</a><i></i></li>
							<li><a href="javascript:void(0)" title="玻璃">玻璃</a><i></i></li>
							<li><a href="javascript:void(0)" title="不锈钢">不锈钢</a><i></i></li>
						</ul>
					</dd>
				</dl>
				<dl class="clearfix iteminfo_parameter sys_item_specpara buy_p4" data-sid="2">
					<dt>尺码:</dt>
					<dd>
						<ul class="sys_spec_text">
							<li><a href="javascript:void(0)" title="M10">M10</a><i></i></li>
							<li><a href="javascript:void(0)" title="M13">M13</a><i></i></li>
							<li><a href="javascript:void(0)" title="M16">M16</a><i></i></li>
						</ul>
					</dd>
				</dl>
			</div>



			<script>
                $(function(){
                    $(".sys_item_spec .sys_item_specpara").each(function(){
                        var i=$(this);
                        var p=i.find("ul>li");
                        p.click(function(){
                            if(!!$(this).hasClass("selected")){
                                $(this).removeClass("selected");
                                i.removeAttr("data-attrval");
                            }else{
                                $(this).addClass("selected").siblings("li").removeClass("selected");
                                i.attr("data-attrval",$(this).attr("data-aid"))
                            }
                        })
                    })
                })
			</script>

			<!--<p class="buy_p3">-->
				<!--规格：-->
				<!--&lt;!&ndash;<span class="active">塑料</span>&ndash;&gt;-->
				<!--&lt;!&ndash;<span >玻璃</span>&ndash;&gt;-->
				<!--&lt;!&ndash;<span >不锈钢</span>&ndash;&gt;-->

			<!--</p>-->
			<!--<p class="p4 buy_p4">-->
				<!--尺码：-->
				<!--<span class="active">M10</span>-->
				<!--<span >M13</span>-->
				<!--<span >M16</span>-->
			<!--</p>-->
			<p class="p3">商品数量：</p>

			<p class="p5">
				<!--<span class="num">-</span>-->
				<!--<input type="text" value="1" />-->
				<!--<span class="num">+</span>-->

				<button class="addBtn min" type="button" />-</button>
				<input class="join-money" type="text" value="1">
				<button class="addBtn add" type="button" />+</button>



			<script>
                var t = $(".join-money");
                var m = $(".allMoney").text();
                var mm = $(".allMoney");
                function updateMoney(){
                    var tt = t.val();
                    var total =  m*tt;   //输入框中的份额数与每份金额数相乘得到总金额
                    mm.text(total);
                    if(t.val()<=0){
                        mm.text(m);
                    }
                }
                $(function(){
                    $(".add").click(function() {
                        t.val(parseInt(t.val()) + 1); //点击加号输入框数值加1
                        updateMoney();  //显示总金额
                    });
                    $(".min").click(function(){
                        t.val(parseInt(t.val())-1); //点击减号输入框数值减1
                        if(t.val()<=0){
                            t.val(parseInt(t.val())+1); //最小值为1
                        }
                        updateMoney();
                    });
                    $(".join-money").keyup(function(){
                        var c=$(this);
                        if(/[^\d]/.test(c.val())){//替换非数字字符
                            var amount=c.val().replace(/[^\d]/g,'');
                            $(this).val(amount);
                        }
                        updateMoney();  //手动输入数值金额随之改变
                    });
                });

			</script>



			</p>
			<span>花束设计</span>
			<p class="p6">
				<img src="img/like1.png" class="like"/>
				<span>999人喜欢</span>
			</p>
			<p class="p7">
				<a class="btn-buy">加入礼单</a>
				<a href="fill_order.html">立即购买</a>
			</p>
		</div>
	</div>
	<img src="img/info.jpg" class="info_img" />
</div>
<script>
    $('.btn-buy').bind('click',function(){
        var img = $(".middle_img").find('img');
        var flyElm = img.clone().css('opacity', 0.75);
        $('body').append(flyElm);
        flyElm.css({
            'z-index': 9000,
            'display': 'block',
            'position': 'absolute',
            'top': img.offset().top +'px',
            'left': img.offset().left +'px',
            'width': img.width() +'px',
            'height': img.height() +'px'
        });
        flyElm.animate({
            top: $('.head-shopcart').offset().top,
            left: $('.head-shopcart').offset().left,
            width: 20,
            height: 32
        }, 'slow', function() {
            flyElm.remove();
        });
    });
</script>
<div class="big_img">
	<img src="img/close2.png" class="close" />
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<?php foreach($Img as $val){ ?>
			<div class="swiper-slide"><span><img src="__ROOT__<?php echo $val['detailed_path'] ?>" width="700px;" height="500px;"></span></div>
			<?php } ?>
		</div>
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
<script type="text/javascript">
    var swiper = new Swiper(".swiper-container", {
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        autoHeight: true, //enable auto height
    });
</script>
<div class="footer">
	<div class="footer_con">
		<p>享有 | enjoy</p>
		<img src="img/footer.png" />
	</div>
	<div class="footer_con2">
		<p>© 2015 dingdongyouli.com All rights reserved.</p>
		<img src="img/footer_p2.jpg" />
	</div>
</div>
<script>
    $(function() {
        var bool=true;
        $(".like").click(function(){
            if(bool){
                $(this).attr("src","img/like2.png");
                bool=false;
            }else{
                $(this).attr("src","img/like1.png");
                bool=true;
            }
        });
        $(".meau").on("click", function(e) {
            $(".meau_box").slideToggle();
            $(document).one("click", function() {
                $(".meau_box").slideUp();
            });
            e.stopPropagation();
        });
        $(".meau").on("click", function(e) {
            e.stopPropagation();
        });
        $(".small_img").children("img").click(function() {
            $(".small_img").children("img").removeClass("active");
            $(this).addClass("active");
            $(".middle_img").children("img").hide();
            $(".middle_img").children("img").eq($(".small_img").children("img").index(this)).fadeIn();
        });

        $(".buy_p3 span").click(function() {
            $(".buy_p3 span").removeClass("active");
            $(this).addClass("active");
        });
        $(".buy_p4 span").click(function() {
            $(".buy_p4 span").removeClass("active");
            $(this).addClass("active");
        });

        $(".big_img").hide();
        $(".middle_img").children("img").click(function() {
            $(".big_img").css("display", "block");
        });
        $(".close").click(function() {
            $(".big_img").fadeOut();
        });
    });
</script>
</body>

</html>