<!DOCTYPE html>
<html>
<body>
<div class="product">
    <div class="ydc-release-form-group-input">
        <input type="text" class="ydc-form-control" name="search_goods" title="输入商品名称,搜索商品. . . ." placeholder="🔍    输入您想要购买的商品名称试一试吧  .  .  .  . ">
    </div>
    <div class="nav">
        <?php foreach($type as $val){ ?>
        <a href="javascript:void(0)" class="goods_t" tid="<?php echo $val['type_id'] ?>"><?php echo $val['type_name'] ?></a>
        <?php } ?>
    </div>
    <ul class=".aa">
        <?php foreach($data as $key=>$val){ ?>
        <a href="{:U('Index/buy')}?id=<?php echo $val['goods_id'] ?>">
            <li>
                <img src="{$val.goods_cover}" height="500"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>{$val.goods_name}</p>
                        </div>
                        <p>￥ {$val.goods_price}</p>
                    </div>
                </div>
            </li>
        </a>
        <?php } ?>
    </ul>
</div>


</body>

</html>

<script>
    //搜索
    $(function () {
        $(".ydc-form-control").bind('keypress',function (event) {
            if (event.keyCode == "13") {
                var names=$("input[name='search_goods']").val();
                //alert(names)
                $.ajax({
                    url:"{:U('Index/searchGoods')}",
                    type:"POST",
                    data:{
                        'names':names,
                    },
                    dataType:"json",
                    success:function (res) {
                        if(res==''){
                            alert('查询商品或类型不存在');
                            window.location.reload();
                        }
                        var str='';
                        $.each(res,function (k,v){

                            str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                            str+='<li>';
                            str+='<img src="'+v.goods_cover+'" height="500"/>';
                            str+='<div class="proli_bg">';
                            str+='<div class="proli_bg_box">';
                            str+='<div class="proli_top">';
                            str+='<p>本周特推</p>';
                            str+='<p>'+v.goods_name+'</p>';
                            str+='</div>';
                            str+='<p>￥ '+v.goods_price+'</p>';
                            str+='</div>';
                            str+='</div>';
                            str+='</li>';
                            str+='</a>';

                        });
                        $(".product ul").html(str);
                        $(".bb").val("");
                    }
                })
            };
        });


        //热词
        $(".sous").click(function () {
            var names=$(this).html();
            $.ajax({
                url:"{:U('Index/searchGoods')}",
                type:"POST",
                data:{
                    'names':names,
                },
                dataType:"json",
                success:function (res) {
                    if(res==''){
                        alert('查询商品或类型不存在');
                        window.location.reload();
                    }
                    var str='';
                    $.each(res,function (k,v){

                        str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                        str+='<li>';
                        str+='<img src="'+v.goods_cover+'" height="500"/>';
                        str+='<div class="proli_bg">';
                        str+='<div class="proli_bg_box">';
                        str+='<div class="proli_top">';
                        str+='<p>本周特推</p>';
                        str+='<p>￥ '+v.goods_name+'</p>';
                        str+='</div>';
                        str+='<p>'+v.goods_price+'</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</li>';
                        str+='</a>';

                    });
                    $(".product ul").html(str);
                    $(".bb").val("");
                }
            })
        });


        $(".goods_t").click(function () {
            var id=$(this).attr("tid");
            $.ajax({
                url:"{:U('Index/typeGoods')}",
                type:"POST",
                data:{
                    'id':id,
                },
                dataType:"json",
                success:function (res) {
                    if(res==''){
                        alert('查询商品或类型不存在');
                        window.location.reload();
                    }
                    var str='';
                    $.each(res,function (k,v){

                        str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                        str+='<li>';
                        str+='<img src="'+v.goods_cover+'" height="500"/>';
                        str+='<div class="proli_bg">';
                        str+='<div class="proli_bg_box">';
                        str+='<div class="proli_top">';
                        str+='<p>本周特推</p>';
                        str+='<p>￥ '+v.goods_name+'</p>';
                        str+='</div>';
                        str+='<p>'+v.goods_price+'</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</li>';
                        str+='</a>';

                    });
                    $(".product ul").html(str);
                }
            })
        })

    })
</script>