<!DOCTYPE html>
<html>


<body>

<div class="product">
    <ul>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic1.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic2.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic3.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic4.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic3.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
        <a href="{:U('Index/buy')}">
            <li>
                <img src="img/pro_pic4.png"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p>叮咚叮咚礼盒50G</p>
                        </div>
                        <p>99.00</p>
                    </div>
                </div>
            </li>
        </a>
    </ul>
</div>


</body>

</html>