<!DOCTYPE html>
<html>
<!--样式-->
<style>
    .soua{
        width: 100%;
        height: 100px;
    }
    .sousuo{
        line-height: 60px;
    }
    .sousuo  .bb{

        text-align: center;
    }
    .nav{
        border-bottom: 1px solid #cccccc;
        height: 60px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        margin-bottom: 20px;
        background: #a0b7d4;
    }
    .nav a{
        margin-left: 60px;
        font-weight: bold;
        color: black;

    }
    .product {
        width: 1200px;
        height: auto;
        margin: auto;
    }

</style>

<div class="soua">
    <center class="sousuo">
        <input type="text" name="search_goods" class="bb" placeholder="搜索你需要的内容" >
        <input type="button" class="sou" value="搜索">
    </center>
    <center >
        <?php foreach($hot_goods as $val){ ?>
        <a href="javascript:void(0)" class="sous" style="color: red"><?php echo $val['search_name'] ?></a>&nbsp;
        <?php } ?>
    </center>
</div>



<body>

<div class="product">
    <div class="nav">
        <?php foreach($type as $val){ ?>
        <a href="javascript:void(0)" class="goods_t" tid="<?php echo $val['type_id'] ?>"><?php echo $val['type_name'] ?></a>
        <?php } ?>
    </div>
    <ul class=".aa">
        <?php foreach($data as $key=>$val){ ?>
        <a href="{:U('Index/buy')}?id=<?php echo $val['goods_id'] ?>">
            <li>
                <img src="__ROOT__<?php echo $val['goods_cover'] ?>" style="width: 590px; height: 590px;"/>
                <div class="proli_bg">
                    <div class="proli_bg_box">
                        <div class="proli_top">
                            <p>本周特推</p>
                            <p><?php echo $val['goods_name'] ?></p>
                        </div>
                        <p><?php echo $val['goods_price'] ?></p>
                    </div>
                </div>
            </li>
        </a>
        <?php } ?>
    </ul>
</div>


</body>

</html>

<script>
    //搜索
    $(function () {
        $(".sou").click(function () {
            var names=$("input[name='search_goods']").val();
            $.ajax({
                url:"{:U('Index/searchGoods')}",
                type:"POST",
                data:{
                    'names':names,
                },
                dataType:"json",
                success:function (res) {
                    if(res==''){
                        alert('查询商品或类型不存在');
                        window.location.reload();
                    }
                    var str='';
                    $.each(res,function (k,v){

                        str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                        str+='<li>';
                        str+='<img src="__ROOT__'+v.goods_cover+'" style="width: 590px; height: 590px;"/>';
                        str+='<div class="proli_bg">';
                        str+='<div class="proli_bg_box">';
                        str+='<div class="proli_top">';
                        str+='<p>本周特推</p>';
                        str+='<p>'+v.goods_name+'</p>';
                        str+='</div>';
                        str+='<p>'+v.goods_price+'</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</li>';
                        str+='</a>';

                    });
                    $(".product ul").html(str);
                    $(".bb").val("");
                }
            })
        });


        //热词
        $(".sous").click(function () {
            var names=$(this).html();
            $.ajax({
                url:"{:U('Index/searchGoods')}",
                type:"POST",
                data:{
                    'names':names,
                },
                dataType:"json",
                success:function (res) {
                    if(res==''){
                        alert('查询商品或类型不存在');
                        window.location.reload();
                    }
                    var str='';
                    $.each(res,function (k,v){

                        str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                        str+='<li>';
                        str+='<img src="__ROOT__'+v.goods_cover+'" style="width: 590px; height: 590px;"/>';
                        str+='<div class="proli_bg">';
                        str+='<div class="proli_bg_box">';
                        str+='<div class="proli_top">';
                        str+='<p>本周特推</p>';
                        str+='<p>'+v.goods_name+'</p>';
                        str+='</div>';
                        str+='<p>'+v.goods_price+'</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</li>';
                        str+='</a>';

                    });
                    $(".product ul").html(str);
                    $(".bb").val("");
                }
            })
        });


        $(".goods_t").click(function () {
            var id=$(this).attr("tid");
            $.ajax({
                url:"{:U('Index/typeGoods')}",
                type:"POST",
                data:{
                    'id':id,
                },
                dataType:"json",
                success:function (res) {
                    if(res==''){
                        alert('查询商品或类型不存在');
                        window.location.reload();
                    }
                    var str='';
                    $.each(res,function (k,v){

                        str+='<a href="'+"{:U('Index/buy')}?id="+v.goods_id+'">';
                        str+='<li>';
                        str+='<img src="__ROOT__'+v.goods_cover+'" style="width: 590px; height: 590px;"/>';
                        str+='<div class="proli_bg">';
                        str+='<div class="proli_bg_box">';
                        str+='<div class="proli_top">';
                        str+='<p>本周特推</p>';
                        str+='<p>'+v.goods_name+'</p>';
                        str+='</div>';
                        str+='<p>'+v.goods_price+'</p>';
                        str+='</div>';
                        str+='</div>';
                        str+='</li>';
                        str+='</a>';

                    });
                    $(".product ul").html(str);
                }
            })
        })

    })
</script>