<!DOCTYPE html>
<html>
<body>
	<div class="personal">
		<p class="title" style="margin-bottom: 30px;">我的购物车</p>
		<div class="per_box">
			<ul class="per_navul shop_carul">
				<li style="width: 130px;margin-right: 10px;">
					<input type="checkbox" style="margin-right: 20px;"/>
					全选
				</li>
				<li style="width: 450px;text-align: left;">商品名称</li>
				<li>样式</li>
				<li>单价</li>
				<li>数量</li>
				<li>合计</li>
			</ul>
			<ul class="per_listul shop_carul" style="padding-top: 10px;box-sizing: border-box;">
				<li style="width: 130px;margin-right: 10px;">
					<input type="checkbox" style="margin-right: 10px;margin-left: 18px;"/>
					<img src="img/order_pic5.jpg" style="vertical-align: middle;"/>
				</li>
				<li style="width: 450px;text-align: left;">泉立方防串染色母片</li>
				<li>M10</li>
				<li style="color: #3CA5F1;">￥49</li>
				<li>
					<p class="p5">
						<span class="num">-</span>
						<input type="text" value="1"/>
						<span class="num">+</span>
					</p>
				</li>
				<li style="color: #3CA5F1;">￥49</li>
				<li>操作</li>
			</ul>
		</div>
		<p class="shop_car_totle">
			不包含运费共计：<span style="font-size: 19px;color: #d20000;">￥147</span>
			<a class="jie_btn" href="fill_order.html">确认结算</a>
		</p>
	</div>
	
	<div class="footer">
		<div class="footer_con">
			<p>享有 | enjoy</p>
			<img src="img/footer.png" />
		</div>
		<div class="footer_con2">
			<p>© 2015 dingdongyouli.com All rights reserved.</p>
			<img src="img/footer_p2.jpg" />
		</div>
	</div>
</body>
</html>