<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="__PUBLIC__/backend/">
    <link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="settings"></i><em>修改Blogs</em></span>
    </div>

    <form action="{:U('Blogs/updata_do')}" method="post">
        <center>
            <table>
                <tr>
                    <td>标题</td>
                    <td>
                        <input type="hidden" value="{$list.id}" name="id">
                        <input type="text" name="title" value="{$list.title}" style="height: 25px;width: 200px"></td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>
                        <textarea rows="10" cols="40" name="content">{$list.content}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="提交" style="width: 80px;height: 40px;"></td>
                </tr>

            </table>

        </center>
    </form>

</div>
</body>
</html>