<!DOCTYPE html>
<html>
<head>
<title>后台管理中心起始页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/backend/style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap start-page" style="padding-top:0;height:95%">
 <dl>
  <dt>订单统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>总订单数：</span>
     <span>{$order}</span>
    </li>
   <foreach name='stu' item='v' >
    <li>
     <span>
        <if condition="$v.order_status eq 0 ">    
            <span>订单异常：</span>
        <elseif condition="$v.order_status eq 1 " /> 
            <span>未支付订单：</span>
        <elseif condition="$v.order_status eq 2 " /> 
            <span>待发货订单：</span>
        <elseif condition="$v.order_status eq 3 " /> 
            <span>待收货订单：</span>
        <else/> 
            <span>已成交订单：</span>
        </if>
     </span>
     <span>{$v.count(*)}</span>
    </li>
   </foreach>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>商户统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>商品总数量：</span>
     <span>{$goodsNum}</span>
    </li>
    <foreach name='type' item='v'>
    <li>
     <span>{$v.type_name}总数量：</span>
     <span>{$v.count(*)}</span>
    </li>
    </foreach>
    </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>会员统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>会员总数：</span>
     <span>{$userNum}</span>
    </li>
    <foreach name='num' item='v' >
    <li>
    <if condition="$v.user_sex eq 0 ">
      <span>女会员比例：</span>
    <else/> 
      <span>男会员比例：</span>
    </if>
     <span><?php echo $userNum*$v['count(*)']/100; ?>%</span>
    </li>
    </foreach>
   </ul>
  </dd>
 </dl>
</div>
</body>
</html>