<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <base href="__PUBLIC__/backend/"/>
<link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="order"></i><em>订单编号：{$v.order_number}</em></span>
    <span class="modular fr">
      <a href="{:U('Index/order_list')}" class="pt-link-btn">订单列表</a>
    </span>
  </div>
  <dl class="orderDetail">
   <dt class="order-h">订单详情</dt>
   <dd>
    <ul>
     <li>
      <span class="h-cont h-right">收件人姓名：</span>
      <span class="h-cont h-left">{$v.accept_name}</span>
     </li>
     <li>
      <span class="h-cont h-right">联系电话：</span>
      <span class="h-cont h-left">{$v.accept_tel}</span>
     </li>
     <li>
      <span class="h-cont h-right">联系地址：</span>
      <span class="h-cont h-left">{$v.accept_address}</span>
     </li>
     <li>
      <span class="h-cont h-right">付款状态：</span>
      <span class="h-cont h-left">
        <if condition="$v.order_status eq 0"> 
            订单不完善
         <elseif condition="$v.order_status eq 1"/>
            未支付
         <elseif condition="$v.order_status eq 2" /> 
            等待发货
         <elseif condition="$v.order_status eq 3" /> 
            等待收货
         <else /> 
            订单完成
         </if>
       </span>
     </li>
     <li>
      <span class="h-cont h-right">下单时间：</span>
      <span class="h-cont h-left">{$v.generate_time}</span>
     </li>
     <li>
      <span class="h-cont h-right">付款时间：</span>
      <span class="h-cont h-left"></span>
     </li>
    </ul>
   </dd>
   <dd style="padding:1em 0;">
    <span><b>订单留言：</b></span>
    <span>{$v.order_remarks}</span>
   </dd>
   <dd>
    <table class="list-style">
     <tr>
      <th>缩略图</th>
      <th>产品</th>
      <th>单价</th>
      <th>数量</th>
      <th>小计</th>
     </tr>
     <tr>
      <td><img src="__ROOT__{$v.goods_cover}" class="thumbnail"/></td>
      <td>这里是产品名称哦</td>
      <td>
       <span>
        <i>￥</i>
        <em>{$v.goods_price}</em>
       </span>
      </td>
      <td>1</td>
      <td>
       <span>
        <i>￥</i>
        <em>0.00</em>
       </span>
      </td>
     </tr>
     <tr>
      <td colspan="5">
       <div class="fr">
        <span style="font-size:15px;font-weight:bold;">
         <i>订单共计金额：￥</i>
         <b>0.00</b>
        </span>
       </div>
      </td>
     </tr>
    </table>
   </dd>
   <dd>
    <table class="noborder">
     <tr>
      <td width="10%" style="text-align:right;"><b>管理员操作：</b></td>
      <td>
       <textarea class="block" style="width:80%;height:35px;outline:none;"></textarea>
      </td>
     </tr>
    </table>
   </dd>
   <dd>
      <!-- Operation -->
	  <div class="BatchOperation">
	   <input type="button" value="打印订单" class="btnStyle"/>
	   <input type="button" value="配送" class="btnStyle"/>
	   <input type="button" value="发货" class="btnStyle"/>
	   <input type="button" value="取消订单" class="btnStyle"/>
	  </div>
   </dd>
  </dl>
 </div>
</body>
</html>