<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>订单列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <base href="__PUBLIC__/backend/"/>
 <link href="style/adminStyle.css" rel="stylesheet" type="text/css" />
 <script src="js/jquery.js"></script>
<script src="js/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="order"></i><em>订单列表</em></span>
  </div>
  <div class="operate">
   <form action="{:U('Index/order_list')}" method="get" name="order_list" >
    <img src="images/icon_search.gif"/>
    <input type="text" class="textBox length-long" id="where" placeholder="输入订单编号或收件人姓名..." name="where" value="{$where}" />
    <select class="inline-select" name="order_status" >
     
          <option <?php if($order_status=='all'){ echo 'selected'; } ?>  value="all"  >请选择...</option>
      
          <option <?php if($order_status=='0'){ echo 'selected'; } ?>  value="0"   >订单异常</option>
      
          <option <?php if($order_status=="1"){ echo "selected"; } ?>  value="1"   >未支付</option>
     
          <option <?php if($order_status=="2"){ echo "selected"; } ?>  value="2"   >已付款</option>
     
          <option <?php if($order_status=="3"){ echo "selected"; } ?>  value="3"   >等待收货</option>
      
          <option <?php if($order_status=="4"){ echo "selected"; } ?>  value="4"  >订单完成</option>
      
    </select>
    <input type="submit" value="查询" class="tdBtn"  />
   </form>
  </div>
  <table class="list-style Interlaced">
   <tr>
    <th>订单编号</th>
    <th>下单时间</th>
    <th>收件人信息</th>
    <th>订单金额</th>
    <th>订单状态</th>
    <th>操作</th>
   </tr>
   <foreach name='data' item='v' >
   <tr>
    <td>
     <input type="checkbox" class="middle children-checkbox" value="{$v.order_id}" name="checkbox" />
     <a href="{:U('Index/order_detail')}?order_id={$v.order_id}">{$v.order_number}</a>
    </td>
    <td class="center">
  <!--    <span class="block">DeatGhost</span> -->
     <span class="block">{$v.generate_time}</span>
    </td>
    <td width="450">
     <span class="block"><b>收件人</b> : {$v.accept_name} <br /><span><b>电话</b>&nbsp;:&nbsp;{$v.accept_tel}</span></span>
     <address><b>地址</b>&nbsp;:&nbsp;
     <?php echo $v['accept_province']."&nbsp;";echo $v['accept_city']."&nbsp;";echo $v['accept_town']."&nbsp;"; $str= strlen($v['accept_address']);if($str>100){ echo mb_substr($v['accept_address'], 0, 21, 'utf-8').'......'; }else { echo $v['accept_address'];} ?></address>
    </td>
    <td class="center">
     <span><i>￥</i><b>{$v.goods_price}</b></span>
    </td>
    <td class="center">
     <span>
       <if condition="$v.order_status eq 0"> 
          订单异常
       <elseif condition="$v.order_status eq 1"/>
          未支付
       <elseif condition="$v.order_status eq 2" /> 
          等待发货
       <elseif condition="$v.order_status eq 3" /> 
          等待收货
       <else /> 
          订单完成
       </if>
     </span>
    </td>
    <td class="center">
     <a href="{:U('Index/order_detail')}?order_id={$v.order_id}" class="inline-block" title="查看订单"><img src="images/icon_view.gif"/></a>
     <a href="javascript:void(0)" class="prt" val='{$v.order_id}' title="购物清单打印" id="shop"><img src="__ROOT__/Public/backend/images/dayin.png" width="20" height="20" alt="" /></a>
     <a class="inline-block" title="删除订单" href="{:U('Index/delAll')}?order_id={$v.order_id}" ><img src="images/icon_trash.gif"/></a>
    </td>
   </tr>
   </foreach>

  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <div class="BatchOperation fl">
	   <input type="checkbox" id="del"/>
	   <label for="del" class="btnStyle middle">全选</label>
	   <input type="button" id='report' value="导出Excel" class="btnStyle"/>
     <!-- <button class="btn" id='report'><span class="sel">导出Excel</span></button> -->
	   <input type="button" value="配货" id="pei" class="btnStyle"/>
	   <input type="button" id="delete" value="批量删除" class="btnStyle"/>
	  </div>
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   {$page}
	  </div>
  </div>
 </div>
 <script>
    $('#report').click(function(){
        var checkedNum = $("input[name='checkbox']:checked").length;
        var order_id = new Array();
        if (checkedNum == 0) {
            order_id = "";
        } else {
            var che = $("input[name='checkbox']:checked");
            for (var a = 0; a < che.length; a++) {
                order_id[a] = che[a].value;
            }
        }
        
        $.ajax({
          type: "POST",
          url: "{:U('Index/order_report')}",
          data: {'order_id': order_id},
          success: function (result) {
              window.open("{:U('Index/order_report')}?order_id="+order_id)
              // window.location.reload();
         }
        });
            
    })
       // 全选反选
    $(function () {
        //实现全选反选
        $("#del").on('click', function () {
            $(".list-style input:checkbox").prop("checked", $(this).prop('checked'));
        })
        $(".list-style input:checkbox").on('click', function () {
            //当选中的长度等于checkbox的长度的时候,就让控制全选反选的checkbox设置为选中,否则就为未选中
            if ($(".list-style input:checkbox").length === $(".list-style input:checked").length) {
                $("#del").prop("checked", true);
            } else {
                $("#del").prop("checked", false);
            }
        })
    })


     // 批删
    $(document).on('click', '#delete', function () {
        var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        if (confirm("确定要删除所选项目？")) {
            var che = $("input[name='checkbox']:checked");
            var order_id = new Array();
            for (var a = 0; a < che.length; a++) {
                order_id[a] = che[a].value;
            }
            $.ajax({
                type: "POST",
                url: "{:U('Index/delAll')}",
                data: {'order_id': order_id},
                success: function (result) {
                  window.location.reload();
                }
            });
        }
    })

    //配货
    $(document).on('click', '#pei', function () {
      var checkedNum = $("input[name='checkbox']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        if (confirm("确定要全部发货？")) {
            var che = $("input[name='checkbox']:checked");
            var order_id = new Array();
            for (var a = 0; a < che.length; a++) {
                order_id[a] = che[a].value;
            }
            $.ajax({
                type: "GET",
                url: "{:U('Index/Upstatus')}",
                data: {'order_id': order_id,"order_status":3},
                success: function (result) {
                  window.location.reload();
                }
            });
        }
    })

    //打印购物清单
    $('#shop').click(function(){
      var order_id= $(this).attr("val");
      window.open("{:U('index/order_template')}?order_id="+order_id);
    })
 </script>
</html>